%h1= @article.title
%p= @article.body
%br
%h3 
  Comments
  = @article.comments.size
= render partial: 'articles/comment', collection: @article.comments
%br
= render partial: 'comments/form'
%br
%br
= link_to "Back", articles_path
%br
%br
= link_to "EDIT ARTICLE", edit_article_path(@article)
%br
%br
= link_to "Delete ARTICLE", article_path(@article), method: :delete, data: {confirm: "Really delete the article?"}
