%h1= @article.title
%p= @article.body
%br
%br
= link_to "Back", articles_path
%br
%br
= link_to "EDIT ARTICLE", edit_article_path(@article)
%br
%br
= link_to "Delete ARTICLE", article_path(@article), method: :delete, data: {confirm: "Really delete the article?"}
